
/* FONT IMPORT*/

@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
@import url(//db.onlinewebfonts.com/c/03fe5644d1605049951f58ca7961c33f?family=Samsung+Sharp+Sans+Bold);

                        /*PAGE CSS*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
}


body{
    background-color: #fbfbfd;
    font-family: 'SF Pro Display', sans-serif;
    min-width:345px;
}

li, a, button{
  font-family: 'SF Pro Display', sans-serif;
  font-size:14px;
  text-decoration: none;
}
            /*NAV BAR STYLING*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2f2f2f;
  overflow: hidden;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #9e9e9e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: ;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #fff;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
#navoptionad{

}
 #navoption{
background-color:#2f2f2f;
border: none;
color: #9e9e9e;
font-size: 16px;
}

#navoption option:hover{
  color: #fff;
}

#myTopnav a{
  background-color: transparent;
  }


nav ul li a:hover{
    color:#fff;
}

 .menu button {
   width:50px;
   height:30px;
   border-radius:5px;
   cursor: pointer;
   float: right;
   margin-right: 5%;
   margin-top:10px;
   border:2px solid #202020;
   color:#9e9e9e;
   background-color: rgba(47, 47, 47, 1);

}

.menu button:hover {
  color:#fff;
}

  /*END OF NAV BAR STYLING*/









/*START OF HOME PAGE STYLING*/

.main{
  width: 100%;
}
div .main, p{
  width:100%;
  font-size: 30px;
  color:#202020;
  line-height: 35px;
  text-align: center;

}


div .main, h1{
  text-align: center;
  font-size: 30px;
  color:#202020;
}

 .learnmore {
  text-align: center;
  font-size: 24px;

}

.learnmore:hover{
    text-decoration: underline;
}

div .advert{
  align-items:center;
  text-align: center;
  width: 54%;
  height:33%;
  margin-left: 26%;
}
div .advert p{
font-size:22px;
}


div .advert img{
  width:100%;
  height:100%;
  object-fit: cover;
  align-content: center;

}

div .adful{
  width:100%;
  height:20%;
  background-color:#000;
  margin: 0;
  padding: 0;
}

div .adfullearn{
margin-top:30%;
margin-left:40%;
width:25%;

}
div .adfullearn a{
font-size: 24px;
color: #9f9f9f;
}

div .adfullearn a:hover{
color:#fff;
}


div .adful #airword img {
  margin-top:5%;
  float:left;
  width:50%; 
  margin-bottom: 10%;
  background-color:#000;
}

div .adful #airpad img {
  margin-top:5%;
  float:right;
  width:50%; 
  margin-bottom: 10%;
  background-color:#000;
}

div .text img{
  margin-top:5%;
  margin-bottom: 5%;
}
.textover figcaption{
  height: auto;
  text-align: center;
}
 .adful .text a{
  margin-top:5%;
  font-size: 24px;
  text-align: center;
  color: #fff;

}

.textover figcaption a:hover{
  color:#9f9f9f;
  text-decoration: underline;
}

.imgcontain{
  width:80%;
}
div .endimg{
  width:100%;
  height:50%;
  background-color:#f4f4f4;
}

div .endimg img{
  object-fit: cover;
  width:90%;
  height:100%;
  margin-left: 6%;
}

 .textoverend figcaption a{
  top:0;
  bottom: 0;
  font-size: 20px;
  box-sizing: border-box;
  width: 10%;
  padding: 10px;
  text-align: center;
  color: #202020;
  margin-left:35%;
}

.textoverend figcaption a:hover{
  color:#000;
  text-decoration: underline;
}
/*END OF HOME PAGE STYLING*/












/*START OF PRODUCTS PAGE STYLING*/

div .defaultmain{
  width:100%;
  font-size: 30px;

  line-height: 35px;
  text-align: justify;

}



.defaultmain ul{
    padding: 0px;
    margin: 0px;
}


.defaultmain ul li{
    float:left;
    list-style: none;
    width:32%;
    height:auto;
    margin-left: 17%;
    margin-bottom:5%;
    margin-top: 5%;
    box-sizing: border-box;

}
.defaultmain ul li img{

  margin-top: 5%;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.defaultmain ul li .productad img:hover{
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
}
.defaultmain ul li .productad{
    width: 90%;
    height:auto;
    line-height:50px;
    text-align: center;
    color:#202020;
    font-size: 12px;
}
.defaultmain ul li .productad:hover{
  transform: scale(1.03);
  transition:2s;
}
.defaultmain ul li .productad a{
  font-size:20px;
  color: #5c677d;
}


.defaultmain ul li .productad a:hover{
  color:#202020;
  text-decoration: underline;

}

.procadtxt {
height: 100px;
}
.procadtxt h1{
  font-size:25px;
  line-height:30px;
}

.procadtxt p{
  font-size:25px;
  
}
/**/
div .productscard img{
  width:100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px;
}

.productsbody ul li .productscard{
  background-color: #fff;
    float: left;
    width:20%;
    margin-left:10%;
    margin-bottom:8%;
    text-align: center;
    color:#202020;
    font-size: 20px;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.productsbody ul li .productscard h1{
  font-size: 3vw;
  line-height:1em;
}

div .productscard p{
 font-size:3vw;
 text-align: center;
}

.productsbody ul li .productscard .price p{
  font-size: 2vw;
  line-height:2.5em;
  margin-top: 4%;
}


ul li .productscard:hover{
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.3);
  transition: 1s;
}

.productsbody ul li .productscard a{
  font-size:4vw;
  color:#5c677d;
}


.productsbody ul li .productscard a:hover{
  color:#202020;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 420px;
  float: inline-start;
  margin: auto;
  margin-left:8%;
  text-align: center;
  font-family: arial;
  margin-top:5%;
}
.card img{
  width: 100%;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card p{

}

.card button:hover {
  opacity: 0.7;
}
.productsbody{
object-fit: contain;

}
/*END OF PRODUCTS PAGE STYLING*/











/*START OF IPHONE PAGE STYLING*/

.ihead h1{
  font-size: 4em;
  margin-bottom:8%;
}

div .openingphoneimg {
  width: 100%;
  height: auto;
}

.openingphoneimg img{
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 7%;
}

div .bodyforphones{
  width: 80%;
  height: auto;
}

.bodyforphones .itabtopl{
  width: 35%;
  height: auto;
  margin-left: 2%;
  background-color: #f6f6f8;
  float: left;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtopr{
  width: 25%;
  height:auto;
  margin-right:18%;
  background-color: #f6f6f8;
  float: right;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtopr h1{
  float: left;
  margin-top: 5%;
  margin-left:2%;
  font-size:2.5em;
}
.bodyforphones .itabtoprtext{
width:50%;
height: auto;
margin-left:3%;
}

.bodyforphones .itabtopltext{
width:20%;
height: auto;
margin-left:1%;
text-align: left;

}

.bodyforphones .itabtopl h1{
  float: left;
  margin-top: 5%;
  margin-bottom:5%;
  margin-left: 5%;
  font-size: 2.2em;
  text-align: left;
}

.bodyforphones .itabbottomr h1{
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  text-align: justify;
  font-size: 2em;
}

div .camtext{
  width: 70%;
  margin-left:-1.5%;
}

.bodyforphones .itabbottoml{
  width: 35%;
  height: auto;
  margin-left: 19%;
  margin-top:1%;
  background-color: ##f6f6f8;
  float: left;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabbottomr{
  width: 63%;
  height: auto;
  margin-left:19%;
  margin-top: 1%;
  background-color: #f6f6f8;
  float:left;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtopl img{
  width:66%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
  float: right;
  margin-top:-25%;
}

.bodyforphones .itabtopr img{
  width:25%;
  height:auto;
  object-fit: cover;
  float: right;
  border-radius: 25px;
  margin-top:-18%;
  margin-right: 10%;
}

.bodyforphones .itabbottoml img{
  width:100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}

.bodyforphones .itabbottomr img{
  width:30%;
  height:auto;
  object-fit: cover;
  border-top-right-radius:20px;
  border-bottom-right-radius: 20px;
  float: right;
}


 .btngroup{
  float: left;
  margin-left:13%;
  margin-top: 5%;
  margin-right:2%;
  width: 30px;
}
.btngroup #buttongreen{
  background-color:#394c38;
  border:3px solid white;
  width:40px;
  height:40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttongreen:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonblue{
  background-color:#276787;
  border:3px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonblue:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonred{
  background-color:#bf0013;
  border:3px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonred:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonpink{
  background-color:#faddd7;
  border:3px solid white;
  width:40px;
  height:40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonpink:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}
.btngroup #buttonwhite{
  background-color: white;
  border:3px solid #dddada;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonwhite:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonblack{
  background-color:#232a31;
  border:3px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonblack:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}



/* SPECS*/
.specs13{
  width: 90%;
  height: auto;
  margin-top:68%;
  margin-left: 5%;
  margin-bottom:2%;
  border-radius: 20px;
  background-color:#f6f6f8;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.subspecs{
  width: 40%;
  height: auto;
  float: right;
  margin-right: -5%;
  line-height: 2em;
}

.bodyforphones .specs13 img{
  width: 18%;
  height: auto;
  object-fit: cover;
  margin-top:14%;
  margin-bottom:15%;
  margin-left: 2%;
}

.specs13 .subspecs h1{
  font-size: 1.2em;
  margin-left:-40%;
  margin-right: 5%;
  margin-bottom: -4%;
  margin-top:5%;
}

.mainpics{
margin-bottom: -70%;
}
.mainpics img{
  width: 100%;
  height: auto;

}







/*13 PRO*/
.bodyforphones .itabtoplpro{
  width: 35%;
  height: auto;
  margin-left: 2%;
  background-color: #f6f6f8;
  float: left;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtoprpro{
  width: 25%;
  height:auto;
  margin-right:18%;
  background-color: #f6f6f8;
  float: right;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtoprpro h1{
  float: left;
  margin-top: 5%;
  margin-left:2%;
  font-size:2em;
}

.bodyforphones .itabtoplpro h1{
  float: left;
  margin-top: 5%;
  margin-bottom:5%;
  margin-left: 5%;
  font-size: 2.2em;
  text-align: left;
}

.bodyforphones .itabbottomrpro h1{
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  text-align: justify;
  font-size: 2em;
}

div .camtext{
  width: 70%;
  margin-left:-1.5%;
}

.bodyforphones .itabbottomlpro{
  width: 35%;
  height: auto;
  margin-left: 19%;
  margin-top: 3.5%;
  background-color: ##f6f6f8;
  float: left;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabbottomrpro{
  width: 63%;
  height: auto;
  margin-left:19%;
  margin-top: 1%;
  background-color: #f6f6f8;
  float:left;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtoplprotxt{
  width:20%;
  height: auto;
  text-align: left;
  margin-left: 3%;
}

.bodyforphones .itabtoprprotxt{
  width: 40%;
  height: auto;
  text-align:left;
  margin-left:3%;
  float: left;
}


.bodyforphones .itabtoplpro img{
  width:100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
  float: right;
  margin-top:-55%;
  margin-right:-15%;
}

.bodyforphones .itabtoprpro img{
  width:25%;
  height:auto;
  object-fit: cover;
  float: right;
  border-radius: 10px;
  margin-top:5%;
  margin-right: 10%;
  margin-bottom:70%;
}

.bodyforphones .toprendimg{
  text-align: center;
  width: 100%;
  height: auto;
  margin-left: 10%;
}

.bodyforphones .toprendimg img{
  width:100%;
  height:auto;
  margin-top: -55%;
  margin-bottom:-0%;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  object-fit: cover;

}

.bodyforphones .itabbottomlpro img{
  width:100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}

.bodyforphones .itabbottomrpro img{
  width:30%;
  height:auto;
  object-fit: cover;
  border-top-right-radius:20px;
  border-bottom-right-radius: 20px;
  float: right;
}

.btngroup #buttongreenpro{
  background-color:#4d5e4c;
  border:3px solid white;
  width:40px;
  height:40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttongreenpro:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonbluepro{
  background-color:#9bb9d4;
  border:3px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonbluepro:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttongoldpro{
  background-color:#fbe4c9;
  border:3px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttongoldpro:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonwhitepro{
  background-color:#eff0ea;
  border:3px solid white;
  width:40px;
  height:40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonwhitepro:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonblackpro{
  background-color:#4a4846;
  border:3px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonblackpro:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}
.specs13pro{
  width: 90%;
  height: auto;
  margin-top:80%;
  margin-left: 5%;
  margin-bottom:2%;
  border-radius: 20px;
  background-color:#f6f6f8;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .specs13pro img{
  width: 18%;
  height: auto;
  object-fit: cover;
  margin-top: 15%;
  margin-bottom: 13%;
  margin-left: 2%;
}

.specs13pro h1{
  font-size: 1.2em;
  margin-left:-40%;
  margin-right: 5%;
  margin-top: 4%;
  margin-bottom: -4%;
}

/*END OF iPHONE PAGE STYLING*/















/* START OF SAMSUNG PHONES STYLING*/

.bodyforphones .itabtopls22{
  width: 35%;
  height: auto;
  margin-left: 2%;
  background-color: #f6f6f8;
  float: left;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtoprs22{
  width: 25%;
  height:auto;
  margin-right:18%;
  background-color: #f6f6f8;
  float: right;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtoprs22 h1{
  float: left;
  margin-top: 5%;
  margin-left:2%;
  font-size:2.5em;
}
.bodyforphones .itabtoprtexts22{
width:50%;
height: auto;
margin-left:3%;
}

.bodyforphones .itabtopltexts22{
width:20%;
height: auto;
margin-left:1%;
text-align: left;

}

.bodyforphones .itabtopls22 h1{
  float: left;
  margin-top: 5%;
  margin-bottom:5%;
  margin-left: 5%;
  font-size: 2.2em;
  text-align: left;
}

.bodyforphones .itabbottomrs22 h1{
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  text-align: justify;
  font-size: 2em;
}

div .camtexts22{
  width: 70%;
  margin-left:-1.5%;
}

.bodyforphones .itabbottomls22{
  width: 35%;
  height: auto;
  margin-left: 19%;
  margin-top:1%;
  background-color: ##f6f6f8;
  float: left;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabbottomrs22{
  width: 63%;
  height: auto;
  margin-left:19%;
  margin-top: 1%;
  background-color: #f6f6f8;
  float:left;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtopls22 img{
  width:45%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
  float: right;
  margin-top:-15%;
}

.bodyforphones .itabtoprs22 img{
  width:60%;
  height:auto;
  object-fit: cover;
  float: right;
  border-radius: 25px;
  margin-top:-18%;
  margin-right:5%;
}

.bodyforphones .itabbottomls22 img{
  width:100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}

.bodyforphones .itabbottomrs22 img{
  width:30%;
  height:auto;
  object-fit: cover;
  border-top-right-radius:20px;
  border-bottom-right-radius: 20px;
  float: right;
}


 .btngroup{
  float: left;
  margin-left:13%;
  margin-top: 5%;
  margin-right:2%;
  width: 30px;
}
.btngroup #buttongreens22{
  background-color:#394c38;
  border:3px solid white;
  width:40px;
  height:40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttongreens22:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonblues22{
  background-color:#276787;
  border:3px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonblues22:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}


.btngroup #buttonpinks22{
  background-color:#faddd7;
  border:3px solid white;
  width:40px;
  height:40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonpinks22:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}
.btngroup #buttonwhites22{
  background-color: white;
  border:3px solid #dddada;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonwhites22:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonblacks22{
  background-color:#232a31;
  border:3px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonblacks22:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

/* SPECS*/
.specss22{
  width: 90%;
  height: auto;
  margin-top:58%;
  margin-left: 5%;
  margin-bottom:5%;
  border-radius: 20px;
  background-color:#fcfcfc;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .specss22 img{
  width: 10%;
  height: auto;
  object-fit: cover;
  margin-top:4%;
  margin-bottom:4%;
  margin-left: 2%;
}

.bodyforphones .specss22 .vidwrapper{
  width:25%;
}

.bodyforphones .specss22 video{
  width: 200%;
  height: auto;
  object-fit: cover;
  margin-top:30%;
  margin-bottom:43%;
}

.specss22 h1{
  font-size:1em;
}

.mainpics{
margin-bottom: -70%;
}

.mainpics img{
  width: 100%;
  height: auto;

}

.subspecssam{
  width:28%;
  height: auto;
  float: right;
  margin-right: 2%;
  margin-left: -6%;
  line-height: 1.12em;
}




/*ULTRA*/


.bodyforphones .itabtopls22ultra{
  width: 35%;
  height: auto;
  margin-left: 2%;
  background-color: #f6f6f8;
  float: left;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtoprs22ultra{
  width: 25%;
  height:auto;
  margin-right:18%;
  background-color: #f6f6f8;
  float: right;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtoprs22ultra h1{
  float: left;
  margin-top: 5%;
  margin-left:2%;
  font-size:2.2em;
}
.bodyforphones .itabtoprtexts22ultra{
width:50%;
height: auto;
margin-left:3%;
}

.bodyforphones .itabtopltexts22ultra{
width:20%;
height: auto;
margin-left:1%;
text-align: left;

}

.bodyforphones .itabtopls22ultra h1{
  float: left;
  margin-top: 5%;
  margin-bottom:5%;
  margin-left: 5%;
  font-size: 2.2em;
  text-align: left;
}

.bodyforphones .itabbottomrs22ultra h1{
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  text-align: justify;
  font-size: 2em;
}

div .camtexts22ultra{
  width: 70%;
  margin-left:-1.5%;
}

.bodyforphones .itabbottomls22ultra{
  width: 35%;
  height: auto;
  margin-left: 19%;
  margin-top:1%;
  background-color: ##f6f6f8;
  float: left;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabbottomrs22ultra{
  width: 63%;
  height: auto;
  margin-left:19%;
  margin-top: 1%;
  background-color: #f6f6f8;
  float:left;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .itabtopls22ultra img{
  width:45%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
  float: right;
  margin-top:-15%;
  margin-right: 10%;
}

.bodyforphones .itabtoprs22ultra img{
  width:60%;
  height:auto;
  object-fit: cover;
  float: right;
  border-radius: 25px;
  margin-top:-18%;
}

.bodyforphones .itabbottomls22ultra img{
  width:100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}

.bodyforphones .itabbottomrs22ultra img{
  width:30%;
  height:auto;
  object-fit: cover;
  border-top-right-radius:20px;
  border-bottom-right-radius: 20px;
  float: right;
}


 .btngroup{
  float: left;
  margin-left:13%;
  margin-top: 5%;
  margin-right:2%;
  width: 30px;
}
.btngroup #buttongreens22ultra{
  background-color:#394c38;
  border:3px solid white;
  width:40px;
  height:40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttongreens22ultra:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonblues22ultra{
  background-color:#276787;
  border:3px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonblues22ultra:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}


.btngroup #buttonpinks22ultra{
  background-color:#60424d;
  border:3px solid white;
  width:40px;
  height:40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonpinks22ultra:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}
.btngroup #buttonwhites22ultra{
  background-color: white;
  border:3px solid #dddada;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonwhites22ultra:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

.btngroup #buttonblacks22ultra{
  background-color:#232a31;
  border:3px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
}

#buttonblacks22ultra:hover{
  transform: scale(1.1);
  transition:0.5s;
  cursor: pointer;
}

/* SPECS*/
.specss22ultra{
  width: 90%;
  height: auto;
  margin-top:58%;
  margin-left: 5%;
  margin-bottom:5%;
  border-radius: 20px;
  background-color:#fcfcfc;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}

.bodyforphones .specss22ultra img{
  width: 10%;
  height: auto;
  object-fit: cover;
  margin-top:4%;
  margin-bottom:4%;
  margin-left: 2%;
}

.bodyforphones .specss22ultra .vidwrapper{
  width:25%;
}

.bodyforphones .specss22ultra video{
  width: 200%;
  height: auto;
  object-fit: cover;
  margin-top:69%;
  margin-bottom:79%;
}

.specss22ultra h1{
  font-size: 1.2em;
margin-top: -8%;
}

.subspecssamultra{
  width:28%;
  height: auto;
  float: right;
  margin-right:20%;
  line-height:1.8em;
}

/*END OF SAMSUNG PHONES STYLING*/














/*START OF APPLE WATCHES PAGE STYLING*/

.openingbox{
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 6%;
}

.owtext{
  float: right;
  margin-right: 2%;
  text-align: center;
  width: 50%;
  height: auto;
}

.owtext h1{
  font-size:3.5em;
}

.owtext h2{
    color: #A10800;
}

.owtext p{
  font-size: 2.5em;
}

.watchbody .openingwatch{
  width: 30%;
  height: auto;
  margin-left: 5%;
  float: left;
}


div .openingwatch img{
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 5%;
}

div .watchcard img{
  width: 100%;
  height:auto;
  object-fit: cover;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px;
}

.watchbody ul li .watchcard{
    float: left;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:-12%;
    height:auto;
    line-height: 50px;
    text-align: center;
    color:#202020;
    font-size: 20px;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    border-radius: 20px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.watchbody ul li .watchcard h1{
  font-size: 1em;
  line-height:1.5;
  margin-top:-5%;
}

.watchbody ul li .watchcard p{
  font-size: 18px;
  margin-top:1%;
  line-height: 1.5;
}

.watchbody ul li .watchcard .price p{
  font-size: 18px;
  margin-top: 1%;
}



.watchbody ul li .watchcard a{
  font-size:1.5em;
  margin-top: 0%;
}

.watchbody ul li .watchcard:hover{
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
      transition: 1s;
      transform: scale(1.03);
      transition:2s;
}

.watchbody ul li .watchcard a:hover{
  color:#202020;
}

.underline:hover{
  text-decoration: underline;
  transform: scale(1.1);
  transition:1s;
}

/*APPLE WATCH CARD WIDE*/
div .widecard img{
  width: 100%;
  height:auto;
  object-fit: cover;
  border-radius:20px;
  padding: 0;
}

.watchbody ul li .widecard{
  width: 72%;
  height:auto;
  margin-left: 2%;
  margin-bottom:1%;
  text-align: center;
  color:#202020;
  font-size: 20px;
  border-radius: 20px;
}

.widecard:hover{
  transform: scale(1.03);
  transition:2s;
}
/*WATCH CARD ELEMENTS SIDE*/
.watchbody ul li .watchcardside{
  width: 25%;
  height: auto;
  float: right;
  background-color: #000;
}

div .endwatchimg img{
  width: 100%;
  height: auto;
  margin-top: 15%;
  object-fit: cover;
}

.watchbody .endwatchimg{
  width: 100%;
  height: auto;
  margin-top: 5%;
}

 .centerwatchimg img{
  width: 100%;
  height: auto;
  margin-top: 5%;
  object-fit: cover;
}

.watchbody .centerwatchimg{
  width: 100%;
  height: auto;
  margin-top: 5%;
}

.producthead h1{
  margin-bottom: 20%;
}
/*END OF APPLE WATCHES PAGE STYLING*/
















/*AIRPODS STYLING */

div .airpodsbody{
  width: 100%;
  height: auto;

}

div .mainpod{
  width: 30%;
  height: auto;
  margin-top:5%;
  margin-bottom:5%;
  margin-left: 32.5%;

}

.airpodsbody .mainpod img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.airpodsbody .verticalpodsbox img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

div .verticalpodsbox{
  width: 30%;
  height: auto;
  margin-left: 16%;
  margin-bottom: -53.5%;
}

.airpodsbody .podssquarebox img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;

}

div .podssquarebox{
  width: 20%;
  height: auto;
  margin-left: 56%;


}

div .airpodsbody .podboxmain{
  width: 90%;
  height:500px;
  margin-left: 5%;
  background-color: #000;
  border-radius: 20px;
}

div .podscontainer{
  width: 70%;
  height: auto;
  background-color: #000;
  margin-top: 5%;
  margin-left: 15%;
  background-color: #fff;
}


.podscontainer ul li .podscard{
    float: left;
    width: 25%;
    height:auto;
    line-height: 50px;
    text-align: center;
    color:#202020;
    font-size: 20px;
    border-radius: 20px;
    overflow:hidden;
    text-overflow: ellipsis;
    margin-bottom: 15%;

}

div .podscard img{
  width: 80%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px;
}


.podscontainer ul li .podscard h1{
  line-height:1;
  font-size: 1.8em;
  margin-bottom: 12%;
}

.podscard p{
  line-height:1;
  font-size: 16px;
  text-align:justify;
  margin-bottom: 4%;
}

div .endpod{
  width: 100%;
  height:auto;
}

.endpod .endpodimg img{
  width:80%;
  height: auto;
  margin-left: 10%;
  margin-top:-9%;
  margin-bottom: 5%;
}

div .galaxypods{
  margin-top: 55%;

}
/*AIRPODS STYLING END*/



















/*NEWS STYLING*/

div .newscard img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px;
}

div .newscard img:hover{
  transform: scale(1.06);
  transition:1s;
}

.newsbody ul li .newscard{
    float: left;
    width: 40%;
    margin-left: 7%;
    height:auto;
    line-height: 50px;
    text-align: center;
    color:#202020;
    font-size: 20px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
    border-radius: 20px;
    margin-bottom:8%;
    overflow:hidden;
    text-overflow: ellipsis;
}


.newsbody ul li .newscard a{
  font-size:1.5em;
  color: #5c677d;
}


.newsbody ul li .newscard a:hover{
  color:#202020;
}
/*END NEWS STYLING*/




.rectangle{
  width: 40%;
  height:10px;
  margin-top: 25%;
  margin-bottom: 5%;
  margin-left:30%;
  background-color:#202020;
  border-radius:20px;
}

.rectangle:hover{
  transform: scale(1.1);
  transition:0.6s;
  cursor:default;
}

/*Phone*/
@media only screen and (width <= 1540 ){
  .productsbody ul li .productscard{
    
  }
}
@media only screen and (max-width: 1000px ){
header{
  display: inline;
}

}


/*test*/


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}